body {
    margin: 0;
}

/* HEADER */

.header_raiz {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
}

.header_iz {
    display: flex;
    align-items: center;
}

.img_logo1 {
    height: 40px; 
}

.header_de {
    display: flex; 
    align-items: center;
}

.header_de a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-family: 'Lato', sans-serif; 
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}

.header_de a i {
    margin-right: 8px;
}

.header_de a:hover {
    color: #08adff;
}

/* NAVEGACIÓN */

/* Estilos para el nav */
.nav_raiz {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    background-color: rgba(0, 0, 0, 0.64); 
    padding: 10px 20px;
    width: 100%; 
    box-sizing: border-box;
    position: absolute; 
    top: 0; 
}

.nav_raiz a {
    color: white;
    text-decoration: none;
    font-family: 'Lato', sans-serif; 
    font-weight: 900; 
    margin-left: 70px; 
}

.nav_raiz a:hover {
    color: #08adff;
}



/* SECCIÓN PRINCIPAL */
.sec_1 {
    position: relative; 
    overflow: hidden; 
    width: 100%; 
}

.img_portada {
    width: 100%; 
    height: auto;
    object-fit: cover; 
}

.contenido_portada {
    position: absolute;
    bottom: 20px;
    left: 20px; 
    z-index: 2;
}

.titu_portada {
    font-family: 'Canva Sans', sans-serif; 
    font-weight: 700; 
    color: white; 
    text-shadow: -2px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 2px 1px 0 #000; 
    margin-bottom: 50px; 
    font-size: 50px; 
    max-width: 50%;
    margin-left: 20px;
    text-align: left; 
}



.btn_ayuda {
    display: inline-block; 
    background-color: #08adff; 
    font-family: 'Lato', sans-serif; 
    font-weight: 900;
    padding: 10px 20px; 
    border-radius: 5px; 
    margin-left: 1130px; 
    margin-bottom: 20px;

}

.btn_ayuda a{
    text-decoration: none;
    color: white; 
}

/*SECCIÓN 2*/
.titu_personas {
    font-family: 'Canva Sans', sans-serif; 
    font-size: 50px; 
    color: #333; 
    text-align: center; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-weight: bold;
    padding-left: 30px;
}

.titu_personas i {
    margin-right: 20px; 
    margin-left: 20px; 
    font-size: 40px; 
    color: #000; 
}



.caja_personas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px 50px; 
    margin: 0px auto; 
    width: 80%;
    max-width: 900px;
}

.caja_solitario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 250px;
    background-color: #f1fcf3;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px auto; 
    position: relative;

    text-decoration: none; 
    color: inherit; 
    cursor: pointer;
}

.imgName_paciente {
    position: relative;
    background-color: #f1fcf3;
    text-align: center;
    overflow: hidden;
}

.imgName_paciente img {
    width: 100%;
    height: auto;
    display: block;
}

.imgName_paciente h3 {
    margin: 0;
    font-size: 16px;
    color: #ffffff;
    background-color: #0093ff;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    box-sizing: border-box;
    font-family: 'Canva Sans', sans-serif;
    text-align: left;
}

.txt_ayuda {
    padding: 0 10px;
    align-items: center;
    text-align: center;
}

.txt_ayuda p {
    margin: 0;
    font-family: 'Canva Sans', sans-serif;
    padding: 5px;
}

.info_meta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barra_progreso progress {
    width: 100%;
}

.barra_progreso progress::-webkit-progress-value {
    background-color: #7ed957;
}

.barra_progreso span {
    margin-left: 2px;
    font-family: 'Lato', sans-serif;
}

.info_meta progress {
    width: 100px;
    margin-right: 5px;
}

.barra_progreso span {
    font-weight: 600;
    font-size: 14px;
    color: #000000;
}

.meta_text {
    text-align: center;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.boton {
    text-align: center;
    margin-top: 20px;
    margin-left: 25px;
}

.boton a {
    font-family: 'Canva Sans', sans-serif;
    display: inline-block;
    padding: 10px 20px;
    background-color: #08adff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.caja_boton a:hover {
    background-color: #007bb5;
}

.sec_2 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.caja_personas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px 50px;
    width: 80%;
    max-width: 900px;
    margin-top: 20px;
    margin-right: 344px;
}

.caja_solitario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 250px;
    background-color: #f1fcf3;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    position: relative;
}


/*SECCIÓN 3*/

.sec_3 {
    padding: 40px 20px;
    background-color: #ffffff;
    margin: 20px auto;
    max-width: 1200px;
}

.titulo_enfermedad {
    font-size: 40px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.img_enfermedades {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.img_arriba, .img_abajo {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.enfermedad {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    position: relative;
}

.enfermedad img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.enfermedad span {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

.tooltip {
    display: none;
    position: absolute;
    top: 110%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 1;
    width: 200px;
    text-align: center;
    white-space: normal; 
}

.enfermedad:hover .tooltip {
    display: block;
}



/*SECCIÓN 4*/

.sec_4 {
    padding: 40px 20px;
    background-color: #ffffff;
    
    margin: 20px auto;
    max-width: 1200px;
    text-align: center;
}

.titulo_admin {
    font-size: 30px;
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    border-bottom: 3px solid #0056b3;
    display: inline-block;
    padding-bottom: 5px;
}

.art_admi {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.img_art {
    flex: 1;
    text-align: right;
}

.img_art img {
    max-width: 100%;
    height: auto;
    border: 5px solid #0056b3;
    border-radius: 10px;
}

.info_art {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: 2px solid #0056b3;
    border-radius: 25px;
    transition: background-color 0.3s;
}

.info span {
    font-size: 16px;
    color: #1a1a1a;
}

.mas {
    font-size: 24px;
    color: #d9534f;
}

.info:hover {
    background-color: #e9f5ff;
}





.centered-button {
    background-color: #00b0ff; 
    border-radius: 20px; 
    padding: 20px 20px; 
    text-align: center; 
    margin: 0 auto;
    width: 30%;
    margin-bottom: 1em;
    margin-top: 5em;
    
}

.centered-button h3 {
    color: black; 
    font-weight: bold;
    margin: 0; 
    font-size: 30px;
    font-family: Arial, sans-serif; 
}


.contenedor-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
    align-items: center;
    justify-items: center;
}

.contenedor-grid div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-grid img {
    max-width: 100%;
    height: auto;
}

.fut {
    background-color: rgb(39, 35, 66);
    padding: 10px 0; 
}

.iconos {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
    margin-bottom: 10px; 
}

.iconos div {
    margin: 10px 5px; 
    width: 40px; 
}

.iconos div img {
    width: 100%;
}

.pie_imagen {
    width: 200px; 
    margin-left: 50px;
    margin-bottom: 10px; 
}

.pie_imagen img {
    width: 100%;
    object-fit: cover;
}

.boton_fut {
    background-color: white;
    text-align: center;
    padding: 5px 10px; 
    border-radius: 40px; 
    width: 150px; 
    margin-left: 70px;
    margin-bottom: 10px; 
}

.boton_fut p {
    color: black;
    font-weight: bold;
    font-size: 14px; 
    font-family: 'Lato', sans-serif

}

.contenedor_iz {
    position: relative;
    color: white;
    font-family: Arial, sans-serif;
    text-align: right;
    margin-right: 30px;
    bottom: 5em; 
}

.iz_1 {
    margin-bottom: 1em; 
}

.iz_2 {
    margin-bottom: 1em; 
}

.iz_1 h3 {
    font-size: 1.2em;
    margin: 0;
}

.cont_final {
    position: relative;
    margin: 0 auto;
    text-align: center;
    color: white;
    bottom: 10px;
    font-weight: bold;
    margin-top: 10px; 
    font-family: 'Lato', sans-serif

}