
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Canva Sans', sans-serif; 
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #8BFFFF, #29A8A8, #59EAEA);
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    padding: 0 20px;
}

form {
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 20px rgba(27, 27, 27, 0.3);
    border-radius: 15px;
    background-color: #ffffff;
}

h1 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #1b1b1b;
    margin-bottom: 25px;
}

label, p {
    font-size: 17px;
    color: #1b1b1b;
    margin-bottom: 10px;
}

select,
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 17px 11px;
    border-radius: 25px;
    border: 1px solid #292929;
    margin-bottom: 25px;
    background-color: #fafafc;
    outline: none;
    color: #1b1b1b;
    font-size: 17px;
    box-sizing: border-box;
}

select {
    appearance: none;
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.657 6.586 4.293 8zm4.707 4.707L10 14.414l3.707-3.707a1 1 0 0 1 1.414 1.414l-3.707 3.707a1 1 0 0 1-1.414 0z' fill='%23333'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 15px;
    padding-right: 40px;
}

button[type="submit"] {
    background-color: #58DADA;
    color: #000000;
    border: none;
    border-radius: 25px;
    text-transform: uppercase;
    padding: 17px 11px;
    cursor: pointer;
    font-size: 15px;
    max-width: 100%;
    box-sizing: border-box; 
}

button[type="submit"]:hover {
    background-color: #60B4B4;
}

.logeo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}